<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Users</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

<script src="https://code.jquery.com/jquery-3.5.1.js">
</script>
<style>
  
table{
	border-spacing: 0px;
	width: 100%;
}thead{
  background-color: rgb(33, 36, 82);
  color: aliceblue;
}
.table td, .table th{
	padding: .75em;
	vertical-align: top;
	text-align: center;
	border-top: 1px blue;
  font-size: large;
}

</style>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home"></i>home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/save"><i class="fas fa-user-plus"></i>Add user</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/delete"><i class="fas fa-user-times"></i> Delete</a>
          </li>
        </ul>
        <form action="/read" method="post" class="d-flex">
            <input class="form-control me-2"  type="text" name="search" value="" placeholder="Enter user's name">
            <button style="background-color: rgb(216, 250, 166);" class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Work</th>
      </tr>
    </thead>
      <tr>
          <td><%= specificUser.users%></td>
          <td><%= specificUser.Email%></td>
          <td><%= specificUser.Age%></td>
          <th><%= specificUser.Gender%></td>
          <td><%= specificUser.Work%></td>
      </tr> 
     
  </table>
</body>
<script src="./crud.js"></script>
</html>